<%- include("../partials/admin-header") %>

    <section class="content-main">
        <div class="row">
            <div class="col-6">
                <div class="content-header">
                    <h2 class="content-title">Edit Product</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="card mb-4">
                    <form action="/admin/edit-product/<%=product._id%>" method="post" enctype="multipart/form-data">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <h6>1. General info</h6>
                                </div>
                                <div class="col-md-9">
                                    <div class="mb-4">
                                        <label class="form-label">Product title</label>
                                        <p class="text-danger" id="titleErr" style="display: none;">Invalid Title!</p>
                                        <input type="text" placeholder="Type here" name="title" class="form-control"
                                            value="<%= product.title%>" id="title" onblur="titleVal()">
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label">Description</label>
                                        <textarea placeholder="Type here" class="form-control" name="description"
                                            rows="4" required><%= product.description%></textarea>
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label">Brand name</label>
                                       
                                    </div>
                                </div> <!-- col.// -->
                            </div> <!-- row.// -->
                            <hr class="mb-4 mt-0">
                            <div class="row">
                                <div class="col-md-3">
                                    <h6>2. Pricing</h6>
                                </div>
                                <div class="col-md-9">
                                    <div class="mb-4">
                                        <label class="form-label">Cost in USD</label>
                                        <p class="text-danger" id="priceErr" style="display: none;">Invalid Price!</p>
                                        <input type="number" placeholder="Type here" name="price" class="form-control"
                                        id="product-price" value="<%= product.price%>" onblur="priceValidation()">
                                    </div>
                                </div> <!-- col.// -->
                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                    <h6>3. Stock</h6>
                                </div>
                                <div class="col-md-9">
                                    <div class="mb-4">
                                        <label class="form-label">No of Stock left</label>
                                        <p class="text-danger" id="stockErr" style="display: none;">Invalid no of Stock!
                                        </p>
                                        <input type="number" placeholder="Type here" name="stock" class="form-control"
                                           id="product-stock" value="<%= product.stock%>" onblur="stockValidation()">
                                    </div>
                                </div> <!-- col.// -->
                            </div><!-- row.// -->
                            <hr class="mb-4 mt-0">
                            <div class="row">
                                <div class="col-md-3">
                                    <h6>3. Category</h6>
                                </div>
                                <div class="col-md-9">
                                    <div class="col-md-9">
                                        <div class="mb-4">
                                            <%for(let i=0; i < categories.length; i++){%>
                                                <label class="mb-2 form-check form-check-inline" style="width: 45%;">
                                                    <%if(product.category==categories[i]._id){%>
                                                        <input class="form-check-input" checked name="category"
                                                            type="radio" required multiple
                                                            value="<%=categories[i]._id%>">
                                                        <%}else{%>
                                                            <input class="form-check-input" name="category" type="radio"
                                                                required multiple value="<%=categories[i]._id%>">
                                                            <%}%>
                                                                <span class="form-check-label">
                                                                    <%=categories[i].categoryname%>
                                                                </span>
                                                </label>
                                                <%}%>
                                        </div>
                                    </div> <!-- col.// -->
                                </div> <!-- row.// -->
                                <hr class="mb-4 mt-0">
                                <div class="row">
                                    <div class="col-md-3">
                                        <h6>4. Media</h6>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="mb-4">
                                            <img src="<%= product.image %>" style="height: auto; width: 75px;" id="imgView"><br>
                                            <label class="form-label">Images</label>
                                            <input class="form-control" type="file" name="Image" multiple onchange="changeImage(event)">
                                        </div>
                                    </div> <!-- col.// -->
                                </div> <!-- .row end// -->
                            </div>
                            <div class="d-flex justify-content-center">
                                <button class="btn btn-md rounded font-sm hover-up" type="submit" id="publish-btn">Publish</button>
                            </div>
                    </form>
                </div>
            </div>
        </div>
        </div>
    </section>
    <script>
        function changeImage(event){
            document.getElementById('imgView').src = URL.createObjectURL(event.target.files[0])
        }
        function priceValidation() {
            let price = document.getElementById("product-price").innerHTML;
            console.log(price);
            let convertedPrice = parseFloat(price);
            if (convertedPrice < 0) {
                document.getElementById("priceErr").style.display = "block";
                document.getElementById("publish-btn").disabled = "true";
            }else{
                document.getElementById("priceErr").style.display = "none";
                document.getElementById("publish-btn").disabled = false;
            }
        }

        function stockValidation() {
            let stock = document.getElementById("product-stock").value;
            console.log(stock);
            let convertedStock = parseFloat(stock);
            if (0 >= convertedStock) {
                document.getElementById("stockErr").style.display = "block";
                document.getElementById("publish-btn").disabled = true;
            }else{
                document.getElementById("stockErr").style.display = "none";
                document.getElementById("publish-btn").disabled = false;
            }
        }
    </script><!-- content-main end// -->
    <%- include("../partials/admin-footer")%>