<hr class="mb-4 mt-0">
<div class="row">
    <div class="col-md-3">
        <h6> Address 1</h6>
    </div>
    <div class="col-md-9">
        <div class="mb-4">
            <div class="col-md-9">
                <div class="mb-4">
                    <label class="form-label">House no:, Building name</label>
                    <input type="text" placeholder="Type here" name="title" class="form-control required" value="<%= currentUser.name%>">
                </div>
                <div class="mb-4">
                    <label class="form-label">Area, Road Name etc...</label>
                    <input placeholder="Type here" class="form-control" name="description" rows="4" value="<%= currentUser.name%>">
                </div>
                <div class="mb-4">
                    <label class="form-label">Pincode</label>
                    <input placeholder="Type here" class="form-control" name="brand" rows="4" required value="<%= currentUser.name%>">
                </div>
            </div>
        </div>
    </div> <!-- col.//
</div> 
<hr class="mb-4 mt-0"> <!-- .row end// -->

<div class="row">
    <div class="col-md-3">
        <h6>2. Address 2</h6>
    </div>
    <div class="col-md-9">
        <div class="mb-4">
            <div class="col-md-9">
                <div class="mb-4">
                    <label class="form-label">House no:</label>
                    <input type="text" placeholder="Type here" name="title" class="form-control required" value="<%= currentUser.name%>">
                </div>
                <div class="mb-4">
                    <label class="form-label">Landmark</label>
                    <input placeholder="Type here" class="form-control" name="description" rows="4" value="<%= currentUser.name%>">
                </div>
                <div class="mb-4">
                    <label class="form-label">Pincode</label>
                    <input placeholder="Type here" class="form-control" name="brand" rows="4" required value="<%= currentUser.name%>">
                </div>
            </div>
        </div>
    </div> <!-- col.// -->
<!-- </div>   -->
</dv>