<%- include('../partials/user-header')%>

  <div class="bg-light py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mb-0"><a href="index.html">Home</a> <span class="mx-2 mb-0">/</span> <a
            href="cart.html">Cart</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Checkout</strong>
        </div>
      </div>
    </div>
  </div>

  <div class="site-section">
    <div class="container">

      <div class="row">
        
        <div class="col-md-6 mb-5 mb-md-0">
          <h2 class="h3 mb-3 text-black">Billing Details</h2>
          <form id="checkout-form">
            <div class="p-3 p-lg-5 border">

             
              <%if(hasAddress){%>
                <%for(let i=0; i < address.length; i++){%>
                  <div class="card mb-3">
                    <h5 class="card-header text-dark"><input type="radio" name="selectedaddress" value="<%=i%>">  <%=address[i].username%></h5>
                    <div class="card-body text-dark">
                      <h5 class="card-title text-dark"><%=address[i].mobile%></h5>
                      <p class="card-text text-dark"><%=address[i].address%>, <%=address[i].district%>, <%=address[i].state%>.</p>
                      <p class="card-text text-dark"><%=address[i].pincode%>.</p>                    
                    </div>
                  </div>
                <%}%>
              <%}%>
              
               
              <div class="form-group row mb-5">
                <input type="text" class="form-control" id="c_phone" name="userId" placeholder="" value="<%=user._id%>"
                  hidden>
              </div>
              <div class="form-group">
                <a class="btn btn-primary btn-sm py-3 btn-block" href="/add-address">&plus; Add new Address.</a>
              </div>
            </div>
        </div>
        <div class="col-md-6">

          <div class="row mb-5">
            <div class="col-md-12">
              <h2 class="h3 mb-3 text-black">Coupon Code</h2>
              <div class="p-3 p-lg-5 border">

                <label for="c_code" class="text-black mb-3">Enter your coupon code if you have one</label>
                <label for="c_code" id="message" class="text-danger mb-3" style="display: none;">Invalid coupon </label>

                <div class="input-group w-75">
                  <input type="text" class="form-control" id="c_code" placeholder="Coupon Code" aria-label="Coupon Code"
                    aria-describedby="button-addon2">
                  <div class="input-group-append">
                    <button class="btn btn-primary btn-sm" type="button" id="coupon-apply" onclick="addCoupon()">Apply</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="border p-3 mb-3">
            <h3 class="h6 mb-0"><a class="d-block" 
               role="button" aria-expanded="false" aria-controls="collapsebank">
               <input type="radio" name="paymentmethod" value="onlinePayment" class="mr-3">   Online Payment</a></h3>
          </div>

          <div class="border p-3 mb-3">
            <h3 class="h6 mb-0"><a class="d-block" role="button">
              <input type="radio" name="paymentmethod" value="COD" class="mr-3">   Cash On Delivery</a></h3>
          </div>
          <div class="row mb-5">
            <div class="col-md-12">
              <h2 class="h3 mb-3 text-black">Your Order</h2>
              <div class="p-3 p-lg-5 border">
                <table class="table site-block-order-table mb-5">
                  <thead>
                    <th>Product</th>
                    <th>Total</th>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Top Up T-Shirt <strong class="mx-2">x</strong> 1</td>
                      <td>$250.00</td>
                    </tr>
                    <tr>
                      <td>Polo Shirt <strong class="mx-2">x</strong> 1</td>
                      <td>$100.00</td>
                    </tr>
                    
                    <tr>
                      <td class="text-black font-weight-bold"><strong>Order Total</strong></td>
                      <td class="text-black font-weight-bold" id="total"><strong>$<%=total%></strong></td>
                    </tr>
                  </tbody>

                  <input  name="orderTotal" id="orderTotal" value="<%=total%>" hidden>
                
                </table>
                <div class="form-group">
                  <button class="btn btn-primary btn-lg py-3 btn-block" type="submit" onclick="checkOut()">Place Order</button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      </form>
    </div>
  </div>

  <footer class="site-footer border-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <div class="row">
            <div class="col-md-12">
              <h3 class="footer-heading mb-4">Navigations</h3>
            </div>
            <div class="col-md-6 col-lg-4">
              <ul class="list-unstyled">
                <li><a href="#">Sell online</a></li>
                <li><a href="#">Features</a></li>
                <li><a href="#">Shopping cart</a></li>
                <li><a href="#">Store builder</a></li>
              </ul>
            </div>
            <div class="col-md-6 col-lg-4">
              <ul class="list-unstyled">
                <li><a href="#">Mobile commece</a></li>
                <li><a href="#">Dropshipping</a></li>
                <li><a href="#">Website development</a></li>
              </ul>
            </div>
            <div class="col-md-6 col-lg-4">
              <ul class="list-unstyled">
                <li><a href="#">Point of sale</a></li>
                <li><a href="#">Hardware</a></li>
                <li><a href="#">Software</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
          <h3 class="footer-heading mb-4">Promo</h3>
          <a href="#" class="block-6">
            <img src="images/hero_1.jpg" alt="Image placeholder" class="img-fluid rounded mb-4">
            <h3 class="font-weight-light  mb-0">Finding Your Perfect Shoes</h3>
            <p>Promo from  nuary 15 &mdash; 25, 2019</p>
          </a>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="block-5 mb-5">
            <h3 class="footer-heading mb-4">Contact Info</h3>
            <ul class="list-unstyled">
              <li class="address">203 Fake St. Mountain View, San Francisco, California, USA</li>
              <li class="phone"><a href="tel://23923929210">+2 392 3929 210</a></li>
              <li class="email">emailaddress@domain.com</li>
            </ul>
          </div>
          <div class="block-7">
            <form action="#" method="post">
              <label for="email_subscribe" class="footer-heading">Subscribe</label>
              <div class="form-group">
                <input type="text" class="form-control py-4" id="email_subscribe" placeholder="Email">
                <input type="submit" class="btn btn-sm btn-primary" value="Send">
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="row pt-5 mt-5 text-center">
        <div class="col-md-12">
          <p>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          Copyright &copy;<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" class="text-primary">Colorlib</a>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
        </div>
        
      </div>
    </div>
  </footer>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="/js/jquery-3.3.1.min.js"></script>
  <script src="/js/jquery-ui.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/owl.carousel.min.js"></script>
  <script src="/js/jquery.magnific-popup.min.js"></script>
  <script src="/js/aos.js"></script>
  <script src="/js/vendors/bootstrap.bundle.min.js.map"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="/js/main.js"></script>
  <script src="/js/main1.js"></script>
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
  <script>

    function addCoupon(){
      let code = document.getElementById("c_code").value
      fetch('/admin/verify-coupon/' + code, {
        method:'GET'
      })
      .then(r => r.json())
      .then((response)=>{
        if(response.message){
          document.getElementById('message').style.display = 'block'
        }else if(response.status){
          let total = '<%=total%>' - response.offerAmount;
          document.getElementById('total').innerHTML = "$" +total
          document.getElementById('orderTotal').value = +total
        } 
      })
    }

    function checkOut() {
      let form = document.getElementById('checkout-form');
      form.addEventListener('submit', event => {
        event.preventDefault();
      
        const formData = new FormData(form)
        const data = new URLSearchParams(formData)
      
        fetch('/checkout',{
          method: 'POST',
          body: data,
        }).then(r => r.json())
        .then(response => {
          if(response.codSuccess){
            location.href = '/order-success'
          }else{
            razorPayment(response)
          }
        }) 
      })
    }

    function razorPayment(order){
      var options = { 
        "key": "rzp_test_bYaik8BIHFQdLC", // Enter the Key ID generated from the Dashboard
        "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
        "currency": "INR",
        "name": "Shopper",
        "description": "Test Transaction",
        "image": "https://example.com/your_logo",
        "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
        "handler": function (response){
            verifyPayment(response, order)
        },
        "prefill": {
            "name": "Gaurav Kumar",
            "email": "gaurav.kumar@example.com",
            "contact": "9000090000"
        },
        "notes": {
            "address": "Razorpay Corporate Office"
        },
        "theme": {
            "color": "#3399cc"
        },
        callback_url: 'http://localhost:3000/orders/razorpay-success',
        redirect: true
      };
      var rzp1 = new Razorpay(options);
      rzp1.open();
    }

    

    function verifyPayment(payment, order){
      console.log("verification")
      fetch('/verify-payment', {
        method: "POST",
        body: JSON.stringify({
          payment,
          order
        }),
        headers:{
          "Content-type": "application/json; charset=UTF-8"
        }
      }).then(response => {
        console.log(response)
      }) 
    }
  </script>
</body>
</html>
  
