<%-include('../partials/user-header')%>
      </header>

      <div class="bg-light py-3"> 
        <div class="container">
          <div class="row">
            <div class="col-md-12 mb-0">
              <a href="/">Home</a> <span class="mx-2 mb-0">/</span>
              <strong class="text-black">Contact</strong>
            </div>
          </div>
        </div>
      </div>

      <div class="site-section">
        <div class="container">
          <div class="card mt-3 shadow-sm">
            <h5 class="card-header bg-white text-black">Hey Thank you!</h5>
            <div class="card-body">
              <h5 class="card-title text-black">
                Your Order has been placed for $: <%=order[0].total%>
              </h5>
            </div>
          </div>

          <div class="card mt-3 shadow-sm">
            <h5 class="card-header text-black">Order Details</h5>
            <%for(let i = 0; i < products.length; i++){%>
            <div class="card-body">
              <img
                src="<%=products[i].product.image%>"
                alt=""
                srcset=""
                style="height: auto; width: 50px"
              />
              <h5 class="card-title text-black">
                <%=products[i].product.title%>
              </h5>
              <p class="card-text text-black">
                <%=products[i].product.description%>
              </p>
              <a href="/orders" class="">Your Orders</a>
            </div>
            <%}%>
          </div>
        </div>
      </div>

      <%-include('../partials/user-footer')%>